# ======================
# PYTHON
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd

# ======================
# Packages & builds
# ======================
build/
dist/
*.egg-info/

# ======================
# Environnements virtuels
# ======================
.venv/
venv/
env/
.venv_rag/
env.bak/
*.env
.env
.env.*
!.env.example  # si tu veux version "template"

# ======================
# Tools caches
# ======================
.mypy_cache/
.pytest_cache/
.ruff_cache/
.cache/

# ======================
# JUPYTER
# ======================
.ipynb_checkpoints/

# ======================
# IDE / EDITORS
# ======================
.vscode/
.idea/

# ======================
# DOCKER
# ======================
*.pid
docker-volume/

# ======================
# GITHUB ACTIONS
# ======================
.github/workflows/__pycache__/
# .git
# .github

# ======================
# OS / SYSTEM FILES
# ======================
.DS_Store
Thumbs.db

# tests/
