# puls-events-chatbot-intelligent-rag/docker-compose.yml

version: "3.9"

services:
  rag-api:
    build: .
    container_name: rag-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./vectorstore:/app/vectorstore
      - ./data:/app/data

  rag-dashboard:
    build: ./dashboard
    container_name: rag-dashboard
    ports:
      - "8501:8501"
    depends_on:
      - rag-api
